@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: blue;
$secondary: white;
$thirdcolor: #ffc107;
$orange: #ffc107;

body {
  margin: 0px;
  margin-top: 10px;
  background-color: #00b3ff;
  text-align: center;
  font-family: 'Baloo 2', cursive;
}

input {
  width: 60%;
}

input:hover {
  background-color: #c5c8ff;
}


.row {
margin: auto;

}

.line-one {
  font-size: 30px;
  font-weight: bolder;
}



.box:hover {
background-color: #c5c8ff;
cursor: pointer;
}

.mailman {
  color: $orange;
  font-size: 22px;
  font-weight: bolder;
}

.message {
  color: $thirdcolor;
  font-size: 22px;
  font-weight: bolder;
}


.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid black;
  display: flex;
  height: 80px;
  justify-content: center;
  font-weight: bolder;
  font-size: 40px;
}
button {
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: #bcbcf2
}


.hidden {
  display: none;
}
